@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url(/fonts/BasisGrotesquePro-Light.woff2) format(woff2);
  src: url(/fonts/BasisGrotesquePro-Light.woff) format(woff);
  font-weight: 300;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url(/fonts/BasisGrotesquePro-Medium.woff2) format(woff2);
  src: url(/fonts/BasisGrotesquePro-Medium.woff) format(woff);
  font-weight: 400;
}

@font-face {
  font-family: "Basis Grotesque Pro";
  src: url(/fonts/BasisGrotesquePro-Bold.woff2) format(woff2);
  src: url(/fonts/BasisGrotesquePro-Bold.woff) format(woff);
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #000000;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.heading_blue {
  font-weight: 700;
  text-transform: uppercase;
  color: #0536fc;
  opacity: 0.9;
  margin-bottom: 30px;
}

.text_light {
  opacity: 0.6;
}

.text_deep_light {
  opacity: 0.35;
}

.text_bold {
  font-weight: 700;
  text-transform: uppercase;
}

.text_weight_300 {
  font-weight: 300;
}

.heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.btn {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: #0536fc;
  padding: 16px 60px;
  border: none;
  cursor: pointer;
}

.investment {
  padding: 150px 0 150px 210px;
}

.investment__text {
  display: grid;
  grid-template-columns: 50%;
}

.investment__heading span {
  display: block;
}

.investment__payment-block {
  display: grid;
  grid-template-columns: 50% 50%;
}

.investment__label-radio {
  order: 2;
}

.investment__radion-btn {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: content-box;
  margin-right: 15px;
}

.investment__radion-btn:checked {
  background-color: #0536fc;
}

.investment__radio-block {
  display: grid;
  grid-template-columns: 155px 82px 250px;
  gap: 30px;
  margin-bottom: 48px;
}

.investment__amount-content {
  width: 640px;
}

.investment__amount label {
  display: none;
}

.investment__amount input[type="radio"] {
  appearance: none;
  width: 160px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-right: -4px;
}

.investment__amount input[type="radio"]::after {
  font-family: "Basis Grotesque Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 13px;
}

.investment__amount-1::after {
  content: "50 000";
}

.investment__amount-2::after {
  content: "30 000";
}

.investment__amount-3::after {
  content: "10 000";
}

.investment__amount-4::after {
  content: "1 000";
}

.investment__amount input[type="radio"]:checked {
  background-color: #0536fc;
  color: #ffffff;
}

.investment__another-amount {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  padding: 13px 0 12px 35px;
  width: 640px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: none;
  margin-bottom: 20px;
}

.investment__radio-block-2 {
  display: grid;
  grid-template-columns: 113px 125px;
  gap: 30px;
  margin-bottom: 48px;
}

.investment__entering-form {
  width: 478px;
}

.investment__entering-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.35;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

.investment__entering-form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.investment__checkbox {
  margin-bottom: 48px;
}

.investment__checkbox label {
  font-family: "Basis Grotesque Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.6;
  margin-bottom: 16px;
}

.investment__checkbox input {
  margin-right: 20px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

.investment__checkbox input::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  color: #0536fc;
  font-size: small;
  display: none;
}

.investment__checkbox input:checked::after {
  display: block;
}

.investment__checkbox a {
  color: #0536fc;
  text-decoration: none;
  opacity: 1;
}

@media (max-width: 600px) {
  .investment {
    padding: 1rem;
  }

  .heading {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 2rem;
    width: 100%;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }

  .investment__text {
    grid-template-columns: 100%;
    text-align: center;
  }

  .investment__payment-block {
    grid-template-columns: 100%;
  }

  .investment__title {
    text-align: center;
    padding-bottom: 1rem;
  }

  .investment__radio-block {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 1rem;
  }

  .investment__radio-block {
    padding: 2rem;
  }

  .investment__form p {
    text-align: center;
  }

  .investment__amount-content {
    width: 100%;
  }

  .investment_amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .investment__another-amount {
    padding: 1rem;
    width: 100%;
  }

  .investment__amount input[type="radio"] {
    width: 50%;
  }

  .investment__entering-form {
    width: 100%;
  }

  .investment__radio-block-2 {
    margin-bottom: 1rem;
    grid-template-columns: 50% 50%;
    gap: 0;
  }

  .investment__radion-btn {
    margin-right: 5px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .investment {
    padding: 2rem;
  }

  .heading {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 2rem;
    width: 100%;
  }

  .investment__text {
    display: grid;
    grid-template-columns: 100%;
  }

  .investment__title {
    padding-bottom: 1rem;
  }

  .investment__payment-block {
    display: grid;
    grid-template-columns: 100%;
  }

  .investment__radio-block {
    margin-bottom: 1rem;
  }

  .investment__amount-content {
    width: 100%;
  }

  .investment__amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .investment__amount input[type="radio"] {
    width: 100%;
  }

  .investment__another-amount {
    padding: 1rem;
    width: 100%;
    margin-bottom: 20px;
  }
}
